#edit{
    background-color: blue;
    margin-left: 60px;

}

#delete{
   background-color: red;
   margin-left: 20px;
   
}
.container{
    display:grid;
    grid-template-columns: auto auto auto  ;
}
img{
    
    width:200px;
    height:200px;
}
.card{
    margin-top: 40px;
    margin-left: 50px;
}
/* .card:hover{
    width: 130px;
        height: 195px;
} */
.card:hover{
    transform: scale(0.9);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
