.container{
    display:grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
}
.image{
   
    height: 10px;
    margin-top: 100px;
    margin-right: 60px;
}
.login1{
    margin-left: 120px;
}
.login2{
    margin-left: 100px;
}
/* .form-boxes{
    margin-top:80px;
} */
button{
    width:200px;
    margin-left: 100px;
}
.form-boxes{
    width:400px;
    margin-left: 200px;
} 
/* img{
    width:100px;
    height: 100px;
} */