.container1{
    
}


.container{
    display:grid;
    grid-template-columns: auto auto;
    
}
.image{
    height: 10px;
    margin-top: 100px;
    margin-left: 60px;
   
    
}
.login1{
    text-align: center;
}
.login2{
    text-align: center;
}
/* .form-boxes{
    margin-top:80px;
} */
button{
    width:200px;
    margin-left: 100px;
}
.form-boxes{
    width:400px;
    margin-left: 200px;
    margin-right: 150px;
   
} 
/* img{
    width:100px;
    height: 100px;
} */