.container{
    display:grid;
    grid-template-columns: auto auto;
    margin-top: 70px;
}
.image{
    margin-right:400px;
    height: 10px;
    margin-top: 60px;
}
/* .login{
    margin-right: 500px;
} */
/* .form-boxes{
    margin-top:80px;
} */
button{
    width:200px
}
.form-boxes{
    width:400px;
    margin-left: 500px;
} 
img{
    width:100px;
    height: 100px;
}