/* .container{
    display:grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
}
.image{
   
    height: 10px;
    margin-top: 100px;
    margin-right: 60px;
}
.form-boxes{
    width:400px;
    margin-left: 200px;
}  */

.container1{
    /* margin-top: 100px; */
}
.register1{
    /* margin-left: 100px; */
    text-align: center;

}
.register2{
    text-align: center;
}
/* button{
    margin-left: 10px;
} */